<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card mt-5 mb-auto ml-auto mr-auto pt-5 pb-5 pl-5 pr-5", style="border-radius: 10px">

      <h2>Registro de nuevo usuario</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} mínimo de caracteres" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      label: "Ingresa tu contraseña" %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      label: "Confirma tu contraseña" %>
        </div>

        <div class="form-actions text-center mb-3">
          <%= f.button :submit, "Registrate", class: "btn btn-primary"%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
