<div class="container d-flex mb-4 text-center" style="padding: 0 auto; flex-direction: column">
  <%- if controller_name != 'sessions' %>
    <%= link_to "¿Tienes una cuenta? Iniciar sesión", new_session_path(resource_name) %><br />
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "¿No tienes una cuenta? Registrate", new_registration_path(resource_name), style: "padding-right: 20px"%><br />
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "¿No recibió instrucciones de confirmación?", new_confirmation_path(resource_name) %><br />
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "¿No recibió instrucciones de desbloqueo?", new_unlock_path(resource_name) %><br />
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Inicia sesión con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
    <% end %>
  <% end %>
</div>
