<div class="container">
  <div class="mx-auto py-3 container">
  <h1>Edicion de Mascota</h1>
  <p>Ingresa los datos a modificar</p>

  <%= simple_form_for [ @pet] do |f| %>
      <%= f.input :name, label: "Nombre de tu mascota" %>
      <%= f.input :gender, placeholder: @pet.gender, label: "Genero de tu mascota", disabled: true %>
      <%= f.input :birthdate, as: :string, required: false, input_html: {class: "datepicker"}, disabled: true %>
      <%= f.input :species, collection: SPECIES, label: "Especie de tu mascota" %>
      <%= f.submit "Editar Mascota", class: "btn btn-success my-3" %>
    <% end %>
  <br>
  <%= link_to "Volver", pet_path, class: "btn btn-danger" %>
  </div>
</div>
