<div class="container my-3">
  <h2>Todas tus mascotas</h2>
    <div class="list-group my-4">
      <% @pets.each do |pet| %>
        <% if current_user == pet.user %>
          <div class='list-group-item'>
            <div class='d-flex justify-content-between align-items-center vetlove-pets'>
              <h3><%= link_to pet.name, pet_path(pet) %></h3>
              <span>
                <strong>Especie</strong><br>
                <span class='vetlove-text-color'><i class="fas fa-paw"></i></span>
                <%= pet.species %>
              </span>
              <span>
                <strong>Sexo</strong><br>
                <span class='vetlove-text-color'><i class="fas fa-venus-mars"></i></span>
                <%= pet.gender %>
              </span>
              <span>
                <strong>Fecha de nacimiento</strong><br>
                <span class='vetlove-text-color'><i class="fas fa-birthday-cake"></i></span>
                <%= pet.birthdate %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <h4><%= link_to "Crear nueva mascota", new_pet_path, class:"btn btn-success" %></h4>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <p class="h2 m-0 text-gray-800">Mis Mascotas</p>
  <%# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> %>
  <h4><%= link_to "Agregar nueva mascota", new_pet_path, class:"btn btn-primary pt-1" %></h4>
</div>
<% if @pets.empty? %>
  <p class="text-muted">Aún no has agregado mascotas!</p>
<% else %>
  <% @pets.each do |pet| %>
    <div class="list-group my-4">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="h3 pet-title"><%= pet.name %></p>
            <p class="pet-small"><%= pet.species %></p>
          </div>
          <div>
            <%= link_to "Editar", edit_pet_path(pet), class:"text-warning" %> | 
            <%= link_to "Eliminar", pet, method: :delete,
              remote: true,
              data: { confirm: "Estas seguro que deseas eliminar?" }, class:"text-danger" %>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between mb-1">
          <div>
            <p class="pet-small"><strong>Genero:</strong> <%= pet.gender.capitalize %></p>
            <p class="pet-small"><strong>Fecha de Nacimiento:</strong> <%= pet.birthdate %></p>
          </div>
        </div>
        <p class="note-pet">Nota: Los datos proporcionados por este medio son para uso informativo</p>
      </div>
    </div>
  <% end %>
<% end %>
