<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <p class="h2 m-0 text-gray-800">Mis Mascotas</p>
  <%# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> %>
  <h4><%= link_to "Agregar nueva mascota", new_pet_path, class:"btn btn-primary pt-1 botoncito" %></h4>
</div>
<% if @pets.empty? %>
  <p class="text-muted">Aún no has agregado mascotas!</p>
<% else %>
  <% @pets.each do |pet| %>
  <% pet_birth = Date.parse(pet.birthdate) %>
<% hoy = Date.today %>
<% years = (hoy- pet_birth) / 365 %>
    <div class="list-group my-4 pet-card">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row">
            <div>
              <% if pet.photo.attached? %>
                <%# cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle navbar-vetlove-user", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <%= cl_image_tag pet.photo.key, class: "rounded-circle", height: 60, width: 60, crop: :fill %>
              <% else %>
                <%= image_tag "https://i.pinimg.com/136x136/21/a4/a0/21a4a0e07bd24643aca0fcaa7af75105.jpg",  class: "rounded-circle", height: 60, width: 60, crop: :fill %>
              <% end %>
            </div>
            <div class="ml-3">
            <p class="h3 pet-title"><%= pet.name %></p>
            <span>
                <span class='text-primary'><i class="fas fa-paw"></i></span>
                <%= pet.species %>
              </span>
            </div>
          </div>
          <div>
            <%= link_to "Editar", edit_pet_path(pet), class:"text-primary" %> |
            <%= link_to "Eliminar", pet, method: :delete,
              remote: true,
              data: { confirm: "Estas seguro que deseas eliminar?" }, class:"text-secondary" %>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center mb-1  vetlove-pets">
              <p class="pet-small"><strong>Edad:</strong><br>
                <span class='vetlove-text-color'><i class="far fa-calendar-alt"></i></span>
                <%= years.to_i %>
              </p>
              <p class="pet-small"><strong>Género:</strong><br>
                <span class='vetlove-text-color'><i class="fas fa-venus-mars"></i></span>
                <%= pet.gender %>
              </p>
                <p class="pet-small"><strong>Fecha de Nacimiento:</strong><br>
                <span class='vetlove-text-color'><i class="fas fa-birthday-cake"></i></span>
                <%= pet.birthdate %>
              </p>
        </div>
        <p class="note-pet">Nota: Los datos proporcionados por este medio son para uso informativo</p>
      </div>
    </div>
  <% end %>
<% end %>
