<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card mt-5 mb-5 ml-auto mr-auto pt-5 pb-5 pl-5 pr-5", style="border-radius: 10px">

      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <p class="h2 mb-0 text-gray-800">Agregar Mascota</p>
        <%# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> %>
      </div>

      <%= simple_form_for @pet do |f| %>
        <%= f.input :name, label: "Nombre de tu mascota" %>
        <%= f.input :gender, collection: GENDERS, label: "Genero de tu mascota" %>
        <%= f.input :birthdate, label: "Fecha de nacimiento", as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :species, collection: SPECIES, label: "Especie de tu mascota" %>
        <div class="text-center mt-4">
          <%= f.button :submit, class: "btn btn-success", value:"Añadir a mis mascotas" %>
        </div>
      <% end %>
      <br>
      <div class="text-center">
        <%= link_to "Volver a mis mascotas", pets_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
