<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <p class="h2 mb-0 text-gray-800">Agregar Mascota</p>
  <%# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> %>
</div>

<%= simple_form_for @pet do |f| %>
  <%= f.input :name, label: "Nombre de tu mascota" %>
  <%= f.input :gender, collection: GENDERS, label: "Genero de tu mascota" %>
  <%= f.input :birthdate, label: "Fecha de nacimiento", as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :species, collection: SPECIES, label: "Especie de tu mascota" %>
  <%= f.button :submit, 'Crear Mascota', class: "btn btn-primary" %>
<% end %>
<%= link_to pets_path do %>
  <i class="fas fa-arrow-left mb-3 mt-3"></i>
  <span>Volver</span></a>
<% end %>

