<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <p class="h1 mb-0 text-gray-800">Calendario</p>
</div>
<div class="mr-3 ml-3">
  <%= month_calendar do |date| %>
    <%= date.day %> de <%= t('date.abbr_month_names')[date.month] %>
    <% @bookings.each do |bookie| %>
      <% if date == Date.parse(bookie.date.to_s)  %>
        <br>
        <small><strong>Lugar:</strong> <%= bookie.consulting_room.name %> </small>
        <br>
        <small><strong>Paciente:</strong> <%= bookie.pet.name %></small>
        <br>
        <small><strong>Hora:</strong> <%= DateTime.parse(bookie.date.to_s).strftime("%I:%M%p")  %></small>
        <br>
        <% if bookie.attended? %>
          <small><strong>Estado:</strong> <strong class="text-success">Atendido</strong></small>
          <br>
        <% else %>
          <small><strong>Estado:</strong> <strong class="text-danger">Pendiente</strong></small>
          <br>
        <% end %>
        <% if current_user.is_vet?  %>
          <div class="row">
            <% if bookie.attended? %>
              <% if Record.find_by(booking: bookie).nil? %>
                <small></small>
              <% elsif bookie.attended %>
                <% record = Record.find_by(booking: bookie)%>
                <div class="col-12 text-right">
                  <small><%= link_to "Ver Historia", record_path(record) %></small>
                </div>
              <% end %>
            <% else %>
              <div class="col-12 text-right">
                <small>
                  <%= link_to "Ver Cita", booking_path(bookie) %>
                </small>
              </div>
              <div class="col-12 text-right">
                <small>
                  <%= link_to "Crear Cita", new_booking_record_path(bookie) %>
                </small>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-12 text-right">
            <small><%= link_to "Ver Cita", booking_path(bookie) %></small>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
