<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card mt-5 mb-5 ml-auto mr-auto pt-5 pb-5 pl-5 pr-5", style="border-radius: 10px">
      <%= simple_form_for [@consulting_room, @booking] do |f|   %>
          <%= f.input :date %>
          <%= f.input :time %>
          <%= f.association :pet, collection: @my_pets %>
          <%# f.association :consulting_room %>
          <%= f.submit "Crear Booking", class: "btn btn-primary" %>
        <% end %>
      <hr>
      <%= link_to "Volver", consulting_rooms_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
