<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <p class="h1 mb-0 text-gray-800">Reserva</p>
</div>
<div class="list-group my-4">
  <div class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h3><%= @booking.consulting_room.name %></h3>
        <p class="booking-small"><%= @booking.consulting_room.address %></p>
      </div>
      <p class="booking-title">Fecha de Consulta:<br>
        <%= DateTime.parse(@booking.date.to_s).strftime("%F") %> </p>
      <p class="booking-title">Hora de Consulta:<br>
        <%= DateTime.parse(@booking.time.to_s).strftime("%I:%M%p")  %></p>
    </div>
    <hr>
    <div class="d-flex justify-content-start mb-1">
      <div>
        <p class="booking-small"><strong>Nombre:</strong> <%= @booking.pet.name.capitalize %></p>
        <p class="booking-small"><strong>Especie:</strong> <%= @booking.pet.species.capitalize %></p>
        <p class="booking-small"><strong>Genero:</strong> <%= @booking.pet.gender.capitalize %></p>
        <p class="booking-small"><strong>Fecha de Nacimiento:</strong> <%= @booking.pet.birthdate %></p>
        <p class="booking-small"><strong>Dueño:</strong> <%= @booking.pet.user.first_name.capitalize %> <%= @booking.pet.user.last_name.capitalize %></p>
        <p class="booking-small"><strong>Veterinario:</strong> <%= @booking.consulting_room.user.first_name.capitalize %> <%= @booking.pet.user.last_name.capitalize %></p>
        <p class="booking-small"><strong>Teléfono: </strong><%= @booking.pet.user.phone_number %></p>
      </div>
    </div>
    <p class="note-booking">Nota: Los datos proporcionados por este medio son para uso informativo</p>
  </div>
</div>
<%= link_to bookings_path do %>
  <i class="fas fa-arrow-left"></i>
  <span>Volver</span></a>
<% end %>
