<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></span>
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "img-profile rounded-circle" %>
    <% else %>
      <%= image_tag "https://i.pinimg.com/136x136/21/a4/a0/21a4a0e07bd24643aca0fcaa7af75105.jpg", class: "img-profile rounded-circle" %>
    <% end %>
  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    <%= link_to root_path, class: "dropdown-item text-gray-700" do %>
      <i class="fas fa-home fa-sm fa-fw mr-2"></i>
      Home
    <% end %>
      <%= link_to edit_user_registration_path, class: "dropdown-item text-gray-700" do %>
        <i class="fas fa-user fa-sm fa-fw mr-2"></i>
        Perfil
      <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
      Cerrar sesión
    <% end %>
  </div>
</li>
