<h2>Editar consultorio</h2>
<%= simple_form_for [ @consulting_room ] do |f| %>
  <%= f.input :name, label: "Nombre del consultorio" %>
  <%= f.input :description, label: "Descripcion del consultorio" %>
  <%= f.input :address, label: "Direccion del consultorio" %>
  <%= f.input :state, label: "Estado" %>
  <%= f.input :municipality, label: "Municipio" %>
  <%= f.input :parish, label: "Parroquia" %>
  <%= f.input :init_hour_day, label: "Hora de apertura" %>
  <%= f.input :end_hour_day, label: "Hora de cierre" %>
  <%= f.input :week_days, label: "Dias de la semana que trabaja" %>
  <%= f.submit "Editar Consultorio", class: "btn btn-primary" %>
<% end %>
<%= link_to "Volver", consulting_rooms_path %>
