<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <p class="h2 m-0 text-gray-800">Agregar Consultorio</p>
</div>
<p class="text-secondary">Introduzca los datos del consultorio</p>
<%= simple_form_for [ @consulting_room ] do |f| %>
  <%= f.input :name, label: "Nombre del consultorio" %>
  <%= f.input :description, label: "Descripcion del consultorio" %>
  <%= f.input :address, label: "Direccion del consultorio", :input_html => { :id => "flat_address" }%>
  <%= f.input :state, label: "Estado" %>
  <%= f.input :municipality, label: "Municipio" %>
  <%= f.input :parish, label: "Parroquia" %>
  <%= f.input :init_hour_day, label: "Hora de apertura" %>
  <%= f.input :end_hour_day, label: "Hora de cierre" %>
  <%= f.input :week_days, label: "Dias de la semana que trabaja" %>
  <p>Ofrece atención a</p>
  <div class="container my-2">
    <div class="d-flex flex-wrap">
      <% species = ["Perro", "Gato", "Tortuga", "Conejo", "Hamster", "Ave", "Capibara", "Serpiente", "Cerdo", "Caballo"] %>
      <% species.each do |sp| %>
        <div class="w-25 my-2">
        <input class="tag-selector" id="item_selected_keywords_<%= sp %>" name="selected_keywords[]"
          type="checkbox" value="<%= sp %>" /><label for="item_selected_keywords_<%= sp %>"><%= sp %>s</label>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.submit "Crear Consultorio", class: "btn btn-primary" %>
<% end %>
<%= link_to consulting_rooms_path do %>
  <i class="fas fa-arrow-left mt-3 mb-3"></i>
  <span>Volver</span></a>
<% end %>
